.contenedor{
    background-color: rgb(182, 182, 182);
    width: 60%;
    margin: 0 auto; /*arriba y abajo  >> derecha e izquierda*/
    height: 800px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.verde{
    background-color: rgb(127, 255, 144);
    width: 90%;
    height: 150px;
    margin: 0 auto 20px; /* arriba laterales y abajo */


}

.amarillo{
    background-color: rgb(246, 255, 127);
    width: 90%;
    height: 150px;
    margin: 0 auto 20px; /* arriba laterales y abajo */


}

.celeste{
    background-color: rgb(127, 240, 255);
    width: 90%;
    height: 150px;
    margin: 0 auto 20px; /* arriba laterales y abajo */


}